<% if signed_in? %>
  <div class="row">
    <div class="span9">
      <%= render 'shared/home' %>
    </div>
    <aside class="span3">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed', page_links: false  %>
    </aside>
  </div>
<% else %>
  <%= render 'shared/home' %>
<% end %>
