<% provide(:title, @user.name) %>
<h1>Profile Page</h1>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <% if @user.use_gravatar %>
          <%= gravatar_for @user, size: 52  %>
        <% elsif !@user.avatar.blank? %>
          <%= image_tag @user.avatar.url, alt: "User Image", width: 52, height: 52 %>
        <% else %>
          <%= image_tag "/assets/NoPhotoAvailable.jpg", alt: "No Image Available", width: 52, height: 52 %>
        <% end %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <h3>Microposts (<%= @user.microposts.count %>)</h3>
    <% if @user.microposts.any? %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>